@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* colors */
    --yellow: #ffc900;
    --grey: #353a40;
}

.nav-link:hover {
    color:var(--yellow);
}

header {
    background-image: url(../img/ba1.jpg);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    height: 100vh;
    position: relative;
}

.logo {
    height: 5rem;
}

.heroText {
    right: 8%;
    position: absolute;
    top: 50%;
    width: 50%;
    align-items: end;
}

.textoLugar {
    background-color: #353a40;
}

.heroText h1 {
    font-weight: 600;
    color: white;
}

input {
    width: 100%;
}

textarea {
    width: 100%;
}

footer {
    background: rgb(28,53,65);
    background: linear-gradient(90deg, rgba(28,53,65,1) 30%, rgba(30,84,114,1) 100%);
}

footer ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0px;
    margin-bottom: 1rem;
}

footer ul li a {
    text-decoration: none;
    color: aliceblue;
}

footer ul li a:hover {
    color:var(--yellow);
}

.lugar .row {
    --bs-gutter-x: 0rem;
}

/* PRUEBAS CAMBIO DE ESTILOS */

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 201, 0, 255%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.buyTickets {
    color: var(--yellow);
}

.buyTickets:hover {
    cursor: pointer;
    transform: skewX(-10deg);
    background-color: var(--yellow);
    color: var(--grey) !important;
    transition: all 0.5s;
}

.btn {
    transform: skewX(-10deg);
    border-radius: 0;
    color: var(--yellow);
}

.btn-yellow {
    font-weight: 600;
    background-color: transparent;
    border: 2px solid var(--yellow);
}

.btn-yellow:hover {
    background-color: var(--yellow);
    border: 2px solid var(--yellow);
    color: var(--grey);
    transition: all 0.5s;
}

.btn-white {
    font-weight: 600;
    color: white;
    border: 2px solid white;
    transform: skewX(-10deg);
}

.btn-white:hover {
    background-color: white;
    color: var(--grey);
    transition: all .3s ease-in-out;
}


.text-yellow {
    color: var(--yellow) !important;
}

.card {
    border-radius: 0;
    overflow: hidden;
    background-color: var(--yellow);
    border: 2px solid var(--yellow)
}

.card:hover {
    transition: all .3s ease-in-out;
}

.img-card-conteiner {
    overflow: hidden;
}

.card img {
    border-radius: 0;
	transform: scale(1);
	transition: all 0.3s ease-in-out;
}

.card img:hover {
	transform: scale(1.04);
}

.badge {
    border: 1px solid black;
}

.boxYellow {
    background-color: var(--yellow);
    transform: skewX(-12deg);
    font-size: 2rem;
    font-weight: 600;
    width: 32rem;
    padding: 1rem;
    text-align: center;
}

/* MEDIAQUERIES LG */

@media (max-width: 992px){

}

/* MEDIAQUERIES MD */

@media (max-width: 768px){

    .heroText {
        width: 75%;
    }

}

/* MEDIAQUERIES SM */

@media (max-width: 576px)  { 

    footer ul {
        flex-direction: column;
    }
    
    footer ul li {
        margin-bottom: 2rem;
    }
}

